@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

/* #8B77E8 base color */
/* #CDC2FF second color */

.mainlogoheading {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 30px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #eae5ff;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #ac99ff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7b5ef8;
}
